# Java / Maven
**/target/
*.class
*.log

# IntelliJ / VSCode
.idea/
.vscode/
*.iml

# Flutter / Dart
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/build/
**/pubspec.lock

# OS
.DS_Store
Thumbs.db

